$green: #b0ec51;
$dark__grey: #4d5759;
$grey: #a5a7a6;
$orange: #ffc000;
$light__grey: #a5a7a6;
$purple: #9633ff;
$blue: #8cb8e8;

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
  url("../../fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

.Header {
  display: flex;
  width: fit-content;
  align-content: center;
  justify-content: center;
  margin: 40px auto 0 auto;
  height: 52px;
  position: relative;
  z-index: 1000;
  .Header-active-link {
    background: $green;
    color: $dark__grey;
    &:hover{
      background: $green;
    }
  }
  .Header-inactive-link {
    background: $dark__grey;
    color: white;
    font-weight: 500;
    &:hover{
      background: $dark__grey;
    }
  }
  .MuiButtonBase-root {
    font-family: "Manrope", sans-serif;
  }
  &-button-img-hidden {
    visibility: hidden;
    pointer-events: none;
  }
  &-button-img {
    width: max-content;
    height: 52px;
    position: relative;
    right: 1.7%;
    z-index: -1;
  }
  img {
    &:nth-child(1){
      min-width: 52px;
      max-width: 52px;
    }
  }
  button {
    color: $dark__grey;
    border-radius: 12px 0 12px 12px;
    font-size: 17px;
    text-transform: none;
    font-weight: bold;
    padding: 0 20px;
    margin: 0 5px;
    transition: 0.5s;
    line-height: 1;
    &:visited {
      text-decoration: none;
    }
  }
}
