$green: #b0ec51;
$dark__grey: #4d5759;
$grey: #a5a7a6;
$orange: #ffc000;
$light__grey: #a5a7a6;
$purple: #9633ff;
$blue: #8cb8e8;

.table {
  margin-top: 125px;
}

.tableModal{
  @media screen and (max-width: 768px){
    .item{
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .time{
      margin: 2% 0;
    }
    h2{
      text-align: center;
    }
  }
  @media screen and (min-width: 768px){
    .MuiPaper-root{
      min-width: 88%;
      max-height: 85%;
    }
    .item{
      flex-direction: row;

    }
    h2{
      width: max-content;
    }
    .time{
      margin-right: 53px;
    }
  }
  .schedule {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 30px 0 0 0;
    h2:nth-child(12) {
      margin-top: 50px;
    }
    h2 {
      color: $purple;
      margin-bottom: 10px;
      font-size: 35px;
    }
    .wrapper{
      max-width: 85%;
      min-width: 85%;
      margin: 0 auto;
    }
    .item {
      display: flex;
      max-height: fit-content;
      margin: 4% 0;
      justify-self: baseline;
      .info {
        min-height: fit-content;
        p {
          margin: 0;
          font-size: 21px;
          line-height: 26px;
          font-weight: 500;
        }
      }
      .time {
        max-width: 160px;

        p {
          width: 160px;
          margin: 0;
          font-size: 25px;
          font-weight: 700;
        }
      }
    }
  }
}
